<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.system.mapper.DetailReceiptMapper">

    <resultMap type="DetailReceipt"                 id="detailReceiptResult">
        <result property="systematicReceipt"        column="systematic_receipt"/>
        <result property="productId"                column="product_id"/>
        <result property="warehousingId"            column="warehousing_id"/>
        <result property="warehousingName"          column="warehousing_name"/>
        <result property="retrievalId"              column="retrieval_id"/>
        <result property="retrievalName"            column="retrieval_name"/>
        <result property="supplierId"               column="supplier_id"/>
        <result property="customerId"               column="customer_id"/>
        <result property="currentInventory"         column="current_inventory"/>
        <result property="actualInventory"          column="actual_inventory"/>
        <result property="planQuantity"             column="plan_quantity"/>
        <result property="univalence"               column="univalence"/>
        <result property="discount"                 column="discount"/>
        <result property="money"                    column="money"/>
        <result property="cost"                     column="cost"/>
        <result property="remarks"                  column="remarks"/>
        <result property="OBPlanQuantity"           column="OBPlanQuantity"/>
        <result property="OBMoney"                  column="OBMoney"/>
        <result property="EIPlanQuantity"           column="EIPlanQuantity"/>
        <result property="EIMoney"                  column="EIMoney"/>
        <result property="ERPlanQuantity"           column="ERPlanQuantity"/>
        <result property="ERMoney"                  column="ERMoney"/>
        <result property="CBPlanQuantity"           column="CBPlanQuantity"/>
        <result property="CBMoney"                  column="CBMoney"/>
        <association property="product"             javaType="Product" resultMap="ProductResult"/>
        <association property="type"                javaType="ProductType" resultMap="ProductTypeResult"/>
        <association property="headReceipt"         javaType="HeadReceipt" resultMap="headReceiptResult"/>
        <association property="supplier"            javaType="Supplier" resultMap="SupplierResult"/>
        <association property="customer"            javaType="Customer" resultMap="CustomerResult"/>
    </resultMap>

    <resultMap type="Product" id="ProductResult">
        <result property="productId"                column="product_id"/>
        <result property="productCode"              column="product_code"/>
        <result property="productName"              column="product_name"/>
        <result property="productType"              column="product_type"/>
        <result property="productSpecifications"    column="product_specifications"/>
        <result property="measureUnit"              column="measure_unit"/>
        <result property="producer"                 column="producer"/>
    </resultMap>

    <resultMap type="ProductType" id="ProductTypeResult">
        <id property="productTypeId"                column="product_type_id"/>
        <result property="parentId"                 column="parent_id"/>
        <result property="ancestors"                column="ancestors"/>
        <result property="productTypeName"          column="product_type_name"/>
    </resultMap>

    <resultMap type="headReceipt" id="headReceiptResult">
        <result property="systematicReceipt"            column="systematic_receipt"/>
        <result property="originalReceipt"              column="original_receipt"/>
        <result property="receiptCategory"              column="receipt_category"/>
        <result property="receiptType"                  column="receipt_type"/>
        <result property="receiptStatus"                column="receipt_status"/>
        <result property="invoiceDate"                  column="invoice_date"/>
        <result property="warehousingIds"               column="warehousing_ids"/>
        <result property="retrievalIds"                 column="retrieval_ids"/>
        <result property="userIds"                      column="user_ids"/>
        <result property="supplierIds"                  column="supplier_ids"/>
        <result property="customerIds"                  column="customer_ids"/>
        <result property="planReceipt"                  column="plan_receipt"/>
        <result property="receiptNotes"                 column="receipt_notes"/>
        <result property="deposit"                      column="deposit"/>
        <result property="totalAmount"                  column="total_amount"/>
        <result property="capitalizeTotalAmount"        column="capitalize_total_amount"/>
        <result property="createBy"                     column="create_by"/>
        <result property="createTime"                   column="create_time"/>
        <result property="updateBy"                     column="update_by"/>
        <result property="updateTime"                   column="update_time"/>
    </resultMap>

    <resultMap type="Supplier"                          id="SupplierResult">
        <result property="supplierId"                   column="supplier_id"/>
        <result property="supplierCode"                 column="supplier_code"/>
        <result property="supplierName"                 column="supplier_name"/>
    </resultMap>

    <resultMap type="Customer"                          id="CustomerResult">
        <result property="customerId"                   column="customer_id"/>
        <result property="customerCode"                 column="customer_code"/>
        <result property="customerName"                 column="customer_name"/>
    </resultMap>

    <!--    单据明细单查询      -->
    <select id="SelectDetailReceiptQuery" parameterType="DetailReceipt" resultMap="detailReceiptResult">
        SELECT
        dr.systematic_receipt, dr.product_id, dr.warehousing_id, dr.retrieval_id, dr.supplier_id, dr.customer_id,
        dr.current_inventory, dr.actual_inventory, dr.plan_quantity, dr.univalence, dr.discount, dr.money, dr.cost,
        dr.remarks,
        p.product_id, p.product_code, p.product_name, p.product_type, p.product_specifications, p.measure_unit,
        p.producer,
        pt.product_type_id, pt.parent_id, pt.ancestors, pt.product_type_name
        FROM (head_receipt hr, detail_receipt dr, product p)
        JOIN sys_user su ON hr.user_ids = su.user_id
        JOIN supplier s ON hr.supplier_ids = s.supplier_id OR hr.supplier_ids IS NULL
        JOIN customer c ON hr.customer_ids = c.customer_id OR hr.customer_ids IS NULL
        JOIN warehouse w ON w.warehouse_id = hr.warehousing_ids OR w.warehouse_id = hr.retrieval_ids
        JOIN product_type pt ON pt.product_type_id = p.product_type
        WHERE 1=1
        AND hr.systematic_receipt = dr.systematic_receipt
        AND dr.product_id = p.product_id
        <if test="systematicReceipt != null and systematicReceipt != ''">
            AND hr.systematic_receipt like concat('%', #{systematicReceipt}, '%')
        </if>
        <if test="originalReceipt != null and originalReceipt != ''">
            AND hr.original_receipt like concat('%', #{originalReceipt}, '%')
        </if>
        <if test="receiptType != null and receiptType != ''">
            AND hr.receipt_type = #{receiptType}
        </if>
        <if test="receiptStatus != null and receiptStatus != ''">
            AND hr.receipt_status = #{receiptStatus}
        </if>
        <if test="warehousingIds != null and warehousingIds != ''">
            AND hr.warehousing_ids = #{warehousingIds}
        </if>
        <if test="retrievalIds != null and retrievalIds != ''">
            AND hr.retrieval_ids = #{retrievalIds}
        </if>
        <if test="userIds != null and userIds != ''">
            AND hr.user_ids = #{userIds}
        </if>
        <if test="supplierIds != null and supplierIds != ''">
            AND hr.supplier_ids = #{supplierIds}
        </if>
        <if test="customerIds != null and customerIds != ''">
            AND hr.customer_ids = #{customerIds}
        </if>
        <if test="productCode != null and productCode != ''">
            AND p.product_code like concat('%', #{productCode}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name like concat('%', #{productName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(hr.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <!--    货品发生汇总      -->
    <select id="inventorySummaryQuery" parameterType="DetailReceipt" resultMap="detailReceiptResult">
        SELECT DISTINCT dr.product_id,
        p.product_code, p.product_name, p.product_type, p.product_specifications, p.measure_unit,
        pt.product_type_id, pt.parent_id, pt.ancestors, pt.product_type_name,
        EI.warehouse_name AS warehousing_name,
        COALESCE(OI.OIPlanQuantity, 0) - COALESCE(RO.ORPlanQuantity, 0) AS OBPlanQuantity,
        ROUND(COALESCE(OI.OIMoney, 0) - COALESCE(RO.ORMoney, 0), 2) AS OBMoney,
        EI.EIPlanQuantity, ROUND(EI.EIMoney, 2) AS EIMoney,
        ER.ERPlanQuantity, ROUND(ER.ERMoney, 2) AS ERMoney,
        COALESCE(CI.CIPlanQuantity, 0) - COALESCE(CR.CRPlanQuantity, 0) AS CBPlanQuantity,
        ROUND(COALESCE(CI.CIMoney, 0) - COALESCE(CR.CRMoney, 0), 2) AS CBMoney
        from detail_receipt dr
        JOIN product p ON dr.product_id = p.product_id
        JOIN product_type pt ON pt.product_type_id = p.product_type
        <!--        入库的期初结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as OIPlanQuantity, sum(dr.money) as OIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5, 8)
        GROUP BY product_id ) OI
        on dr.product_id = OI.product_id
        <!--        出库的期初结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as ORPlanQuantity, sum(dr.money) as ORMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id ) RO
        on dr.product_id = RO.product_id
        <!--        本期入库        -->
        left join (SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as
        EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.warehousing_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5)
        GROUP BY dr.product_id, w.warehouse_name

        UNION ALL

        SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (7)
        GROUP BY dr.product_id, w.warehouse_name

        UNION ALL

        SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.warehousing_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (8)
        AND dr.plan_quantity &gt; 0
        GROUP BY dr.product_id, w.warehouse_name) EI
        on dr.product_id = EI.product_id
        <!--        本期出库        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as ERPlanQuantity, sum(dr.money) as ERMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id

        UNION ALL

        SELECT dr.product_id, sum(dr.plan_quantity) as ERPlanQuantity, sum(dr.money) as ERMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (8)
        AND dr.plan_quantity &lt; 0
        GROUP BY product_id) ER
        on dr.product_id = ER.product_id
        <!--        入库的期末结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as CIPlanQuantity, sum(dr.money) as CIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5, 8)
        GROUP BY product_id ) CI
        on dr.product_id = CI.product_id
        <!--        出库的期末结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as CRPlanQuantity, sum(dr.money) as CRMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id ) CR
        on dr.product_id = CR.product_id
        WHERE 1=1
        <if test="warehousingId != null and warehousingId != ''">
            AND dr.warehousing_id = #{warehousingId}
        </if>
        <if test="retrievalId != null and retrievalId != ''">
            AND dr.retrieval_id = #{retrievalId}
        </if>
        <if test="productCode != null and productCode != ''">
            AND p.product_code like concat('%', #{productCode}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name like concat('%', #{productName}, '%')
        </if>
    </select>

    <!--    调试新货品发生汇总      -->
    <select id="inventorySummaryQueryNew" parameterType="DetailReceipt" resultMap="detailReceiptResult">
        SELECT DISTINCT dr.product_id,
        p.product_code, p.product_name, p.product_type, p.product_specifications, p.measure_unit,
        pt.product_type_id, pt.parent_id, pt.ancestors, pt.product_type_name,
        EI.warehouse_name AS warehousing_name,
        OB.OBPlanQuantity,
        OB.OBMoney,
        EI.EIPlanQuantity, ROUND(EI.EIMoney, 2) AS EIMoney,
        ER.ERPlanQuantity, ROUND(ER.ERMoney, 2) AS ERMoney,
        COALESCE(CI.CIPlanQuantity, 0) - COALESCE(CR.CRPlanQuantity, 0) AS CBPlanQuantity,
        ROUND(COALESCE(CI.CIMoney, 0) - COALESCE(CR.CRMoney, 0), 2) AS CBMoney
        from detail_receipt dr
        JOIN product p ON dr.product_id = p.product_id
        JOIN product_type pt ON pt.product_type_id = p.product_type
        <!--        入库的期初结存        -->
        left join (SELECT dr.product_id,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.plan_quantity ELSE 0 END) as OIPlanQuantity,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.money ELSE 0 END) as OIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        GROUP BY product_id ) OI on dr.product_id = OI.product_id
        <!--        出库的期初结存        -->
        left join (SELECT dr.product_id,
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.plan_quantity ELSE 0 END) as ORPlanQuantity,
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.money ELSE 0 END) as ORMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        GROUP BY product_id ) RO on dr.product_id = RO.product_id
        <!--        入库-出库的期初结存        -->
        left join (SELECT dr.product_id,
        SUM(
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.plan_quantity ELSE 0 END)
        -
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.plan_quantity ELSE 0 END)
        ) as OBPlanQuantity,
        SUM(
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.money ELSE 0 END)
        -
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.money ELSE 0 END)
        ) as OBMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        GROUP BY product_id ) OB on dr.product_id = OB.product_id



        <!--        本期入库        -->
        left join (
        SELECT dr.product_id, w.warehouse_name,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5) THEN dr.plan_quantity ELSE 0 END) as EIPlanQuantity,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5) THEN dr.money ELSE 0 END) as EIMoney
        FROM detail_receipt dr
        JOIN head_receipt hr ON hr.systematic_receipt = dr.systematic_receipt
        JOIN warehouse w ON (hr.receipt_type IN (1, 4, 5) AND w.warehouse_id = dr.warehousing_id)
        OR (hr.receipt_type = 7 AND w.warehouse_id = dr.retrieval_id)
        WHERE (hr.receipt_type IN (1, 4, 5) OR hr.receipt_type = 7)
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY dr.product_id, w.warehouse_name

        SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.warehousing_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5)
        GROUP BY dr.product_id, w.warehouse_name

        UNION ALL

        SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (7)
        GROUP BY dr.product_id, w.warehouse_name

        UNION ALL

        SELECT dr.product_id, w.warehouse_name, sum(dr.plan_quantity) as EIPlanQuantity, sum(dr.money) as EIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.warehousing_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (8)
        AND dr.plan_quantity &gt; 0
        GROUP BY dr.product_id, w.warehouse_name) EI
        on dr.product_id = EI.product_id
        <!--        本期出库        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as ERPlanQuantity, sum(dr.money) as ERMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id

        UNION ALL

        SELECT dr.product_id, sum(dr.plan_quantity) as ERPlanQuantity, sum(dr.money) as ERMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        join warehouse w on w.warehouse_id = dr.retrieval_id
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (8)
        AND dr.plan_quantity &lt; 0
        GROUP BY product_id) ER
        on dr.product_id = ER.product_id
        <!--        入库的期末结存        -->
        left join (SELECT dr.product_id,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.plan_quantity ELSE 0 END) as CIPlanQuantity,
        SUM(CASE WHEN hr.receipt_type IN (1, 4, 5, 8) THEN dr.money ELSE 0 END) as CIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY product_id ) CI
        on dr.product_id = CI.product_id
        <!--        出库的期末结存        -->
        left join (SELECT dr.product_id,
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.plan_quantity ELSE 0 END) as CRPlanQuantity,
        SUM(CASE WHEN hr.receipt_type IN (2, 3, 6, 7) THEN dr.money ELSE 0 END) as CRMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY product_id ) CR
        on dr.product_id = CR.product_id
        WHERE 1=1
        <if test="warehousingId != null and warehousingId != ''">
            AND dr.warehousing_id = #{warehousingId}
        </if>
        <if test="retrievalId != null and retrievalId != ''">
            AND dr.retrieval_id = #{retrievalId}
        </if>
        <if test="productCode != null and productCode != ''">
            AND p.product_code like concat('%', #{productCode}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name like concat('%', #{productName}, '%')
        </if>
    </select>

    <!--    货品发生明细      -->
    <select id="inventoryDetailsQuery" parameterType="DetailReceipt" resultMap="detailReceiptResult">
        SELECT DISTINCT dr.product_id,
            p.product_code, p.product_name, p.product_type, p.product_specifications, p.measure_unit,
            pt.product_type_id, pt.parent_id, pt.ancestors, pt.product_type_name,
            EI.warehouse_name AS warehousing_name,
            COALESCE(OI.OIPlanQuantity, 0) - COALESCE(RO.ORPlanQuantity, 0) AS OBPlanQuantity,
            COALESCE(OI.OIUnivalence, 0) - COALESCE(RO.ORUnivalence, 0) AS OBUnivalence,
            ROUND(COALESCE(OI.OIMoney, 0) - COALESCE(RO.ORMoney, 0), 2) AS OBMoney,
            EI.systematic_receipt,
            EI.original_receipt,
            EI.receipt_type,
            EI.invoice_date,
            EI.create_date,
            EI.plan_quantity,
            EI.univalence,
            EI.money,
            EI.supplier_name,
            EI.customer_name,
            COALESCE(CI.CIPlanQuantity, 0) - COALESCE(CR.CRPlanQuantity, 0) AS CBPlanQuantity,
            COALESCE(CI.CIUnivalence, 0) - COALESCE(CR.CRUnivalence, 0) AS CBUnivalence,
            ROUND(COALESCE(CI.CIMoney, 0) - COALESCE(CR.CRMoney, 0), 2) AS CBMoney
        from detail_receipt dr
        JOIN product p ON dr.product_id = p.product_id
        JOIN product_type pt ON pt.product_type_id = p.product_type
        <!--        入库的期初结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as OIPlanQuantity, sum(dr.univalence) as OIUnivalence, sum(dr.money) as OIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5, 8)
        GROUP BY product_id ) OI
        on dr.product_id = OI.product_id
        <!--        出库的期初结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as ORPlanQuantity, sum(dr.univalence) as ORUnivalence, sum(dr.money) as ORMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt; date_format(#{params.beginTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id ) RO
        on dr.product_id = RO.product_id
        <!--        单据类型        -->
        left join (
            SELECT DISTINCT
                dr.product_id, hr.systematic_receipt, hr.original_receipt, hr.receipt_type, hr.invoice_date, hr.create_date
                dr.plan_quantity, dr.univalence, dr.money,
                (SELECT s.supplier_name FROM supplier s WHERE hr.supplier_ids = s.supplier_id) AS supplier_name,
                (SELECT c.customer_name FROM customer c WHERE hr.customer_ids = c.customer_id) AS customer_name
            FROM (head_receipt hr, detail_receipt dr)
            JOIN sys_user su ON hr.user_ids = su.user_id
            WHERE 1=1
            AND hr.systematic_receipt = dr.systematic_receipt
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                where date_format(hr.invoice_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        ) EI
        on dr.product_id = EI.product_id
        <!--        入库的期末结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as CIPlanQuantity, sum(dr.univalence) as CIUnivalence, sum(dr.money) as CIMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (1, 4, 5, 8)
        GROUP BY product_id ) CI
        on dr.product_id = CI.product_id
        <!--        出库的期末结存        -->
        left join (SELECT dr.product_id, sum(dr.plan_quantity) as CRPlanQuantity, sum(dr.univalence) as CRUnivalence, sum(dr.money) as CRMoney
        from detail_receipt dr
        join head_receipt hr on hr.systematic_receipt = dr.systematic_receipt
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            where date_format(hr.invoice_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        AND hr.receipt_type in (2, 3, 6, 7)
        GROUP BY product_id ) CR
        on dr.product_id = CR.product_id
        WHERE 1=1
        <if test="warehousingId != null and warehousingId != ''">
            AND dr.warehousing_id = #{warehousingId}
        </if>
        <if test="retrievalId != null and retrievalId != ''">
            AND dr.retrieval_id = #{retrievalId}
        </if>
        <if test="productCode != null and productCode != ''">
            AND p.product_code like concat('%', #{productCode}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name like concat('%', #{productName}, '%')
        </if>
    </select>

    <!--    单据明细表新增   -->
    <insert id="addDetailReceipt" parameterType="java.util.List">
        insert into detail_receipt(
        systematic_receipt,
        product_id,
        warehousing_id,
        retrieval_id,
        supplier_id,
        customer_id,
        current_inventory,
        actual_inventory,
        plan_quantity,
        univalence,
        discount,
        money,
        cost,
        remarks
        )
        <foreach collection="list" index="index" item="item" separator="union all">
            select
            #{item.systematicReceipt,jdbcType=BIGINT},
            #{item.productId,jdbcType=VARCHAR},
            #{item.warehousingId,jdbcType=VARCHAR},
            #{item.retrievalId,jdbcType=VARCHAR},
            #{item.supplierId,jdbcType=VARCHAR},
            #{item.customerId,jdbcType=VARCHAR},
            #{item.currentInventory,jdbcType=VARCHAR},
            #{item.actualInventory,jdbcType=VARCHAR},
            #{item.planQuantity,jdbcType=VARCHAR},
            #{item.univalence,jdbcType=VARCHAR},
            #{item.discount,jdbcType=VARCHAR},
            #{item.money,jdbcType=VARCHAR},
            #{item.cost,jdbcType=VARCHAR},
            #{item.remarks,jdbcType=VARCHAR}
            from dual
        </foreach>
    </insert>

    <!--    单据明细表导入新增   -->
    <insert id="addImportDetailReceipt" parameterType="DetailReceipt">
        insert into detail_receipt(
        systematic_receipt,
        product_id,
        warehousing_id,
        retrieval_id,
        supplier_id,
        customer_id,
        current_inventory,
        actual_inventory,
        plan_quantity,
        univalence,
        discount,
        money,
        cost,
        remarks
        )values(
        #{systematicReceipt},
        #{productId},
        #{warehousingId},
        #{retrievalId},
        #{supplierId},
        #{customerId},
        #{currentInventory},
        #{actualInventory},
        #{planQuantity},
        #{univalence},
        #{discount},
        #{money},
        #{cost},
        #{remarks}
        )
    </insert>

    <!--    单据明细表修改   -->
    <update id="updateDetailReceipt" parameterType="DetailReceipt">
        update detail_receipt
        <set>
            <if test="productId != null and productId != ''">product_id = #{productId},</if>
            <if test="warehousingId != null and warehousingId != ''">warehousing_id = #{warehousingId},</if>
            <if test="retrievalId != null and retrievalId != ''">retrieval_id = #{retrievalId},</if>
            <if test="supplierId != null and supplierId != ''">supplier_id = #{supplierId},</if>
            <if test="customerId != null and customerId != ''">customer_id = #{customerId},</if>
            <if test="currentInventory != null and currentInventory != ''">current_inventory = #{currentInventory},</if>
            <if test="actualInventory != null and actualInventory != ''">actual_inventory = #{actualInventory},</if>
            <if test="planQuantity != null and planQuantity != ''">plan_quantity = #{planQuantity},</if>
            <if test="univalence != null and univalence != ''">univalence = #{univalence},</if>
            <if test="discount != null and discount != ''">discount = #{discount},</if>
            <if test="money != null and money != ''">money = #{money},</if>
            <if test="cost != null and cost != ''">cost = #{cost},</if>
            <if test="remarks != null and remarks != ''">remarks = #{remarks},</if>
        </set>
        where systematic_receipt = #{systematicReceipt}
    </update>

    <!--    单据明细表导入修改   -->
    <update id="updateImportDetailReceipt" parameterType="DetailReceipt">
        update detail_receipt
        <set>
            product_id = #{productId},
            warehousing_id = #{warehousingId},
            retrieval_id = #{retrievalId},
            supplier_id = #{supplierId},
            customer_id = #{customerId},
            current_inventory = #{currentInventory},
            actual_inventory = #{actualInventory},
            plan_quantity = #{planQuantity},
            univalence = #{univalence},
            discount = #{discount},
            money = #{money},
            cost = #{cost},
            remarks = #{remarks}
        </set>
        where systematic_receipt = #{systematicReceipt}
    </update>

    <!--    单据明细表删除      -->
    <delete id="delDetailReceipt" parameterType="java.util.List">
        delete from detail_receipt where systematic_receipt in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.systematicReceipt}
        </foreach>
    </delete>

</mapper>