<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.system.mapper.HeadReceiptMapper">

    <resultMap type="headReceipt" id="headReceiptResult">
        <result property="systematicReceipt"            column="systematic_receipt"/>
        <result property="originalReceipt"              column="original_receipt"/>
        <result property="receiptCategory"              column="receipt_category"/>
        <result property="receiptType"                  column="receipt_type"/>
        <result property="receiptStatus"                column="receipt_status"/>
        <result property="invoiceDate"                  column="invoice_date"/>
        <result property="warehousingIds"               column="warehousing_ids"/>
        <result property="retrievalIds"                 column="retrieval_ids"/>
        <result property="userIds"                      column="user_ids"/>
        <result property="supplierIds"                  column="supplier_ids"/>
        <result property="customerIds"                  column="customer_ids"/>
        <result property="planReceipt"                  column="plan_receipt"/>
        <result property="receiptNotes"                 column="receipt_notes"/>
        <result property="deposit"                      column="deposit"/>
        <result property="totalAmount"                  column="total_amount"/>
        <result property="capitalizeTotalAmount"        column="capitalize_total_amount"/>
        <result property="createBy"                     column="create_by"/>
        <result property="createTime"                   column="create_time"/>
        <result property="updateBy"                     column="update_by"/>
        <result property="updateTime"                   column="update_time"/>
        <association property="sysUser"                 javaType="SysUser" resultMap="SysUserResult"/>
        <association property="supplier"                javaType="Supplier" resultMap="SupplierResult"/>
        <association property="customer"                javaType="Customer" resultMap="CustomerResult"/>
        <collection property="warehousing"              ofType="Warehouse">
            <result property="warehousingId"            column="warehousing_id"/>
            <result property="warehousingName"          column="warehousing_name"/>
        </collection>
        <collection property="retrieval"                ofType="Warehouse">
            <result property="retrievalId"              column="retrieval_id"/>
            <result property="retrievalName"            column="retrieval_name"/>
        </collection>
        <collection property="detail"                   ofType="detailReceipt">
            <result property="systematicReceipt"        column="systematic_receipt"/>
            <result property="productId"                column="product_id"/>
            <result property="warehousingId"            column="warehousing_id"/>
            <result property="retrievalId"              column="retrieval_id"/>
            <result property="supplierId"               column="supplier_id"/>
            <result property="customerId"               column="customer_id"/>
            <result property="currentInventory"         column="current_inventory"/>
            <result property="actualInventory"          column="actual_inventory"/>
            <result property="planQuantity"             column="plan_quantity"/>
            <result property="univalence"               column="univalence"/>
            <result property="discount"                 column="discount"/>
            <result property="money"                    column="money"/>
            <result property="cost"                     column="cost"/>
            <result property="remarks"                  column="remarks"/>
        </collection>
        <collection property="product"                  ofType="Product">
            <result property="productId"                column="product_id"/>
            <result property="productCode"              column="product_code"/>
            <result property="productName"              column="product_name"/>
            <result property="productType"              column="product_type"/>
            <result property="productSpecifications"    column="product_specifications"/>
            <result property="measureUnit"              column="measure_unit"/>
            <result property="producer"                 column="producer"/>
        </collection>
    </resultMap>

    <resultMap type="SysUser"                           id="SysUserResult">
        <id property="userId"                           column="user_id"/>
        <result property="userName"                     column="user_name"/>
    </resultMap>

    <resultMap type="Supplier"                          id="SupplierResult">
        <result property="supplierId"                   column="supplier_id"/>
        <result property="supplierCode"                 column="supplier_code"/>
        <result property="supplierName"                 column="supplier_name"/>
    </resultMap>

    <resultMap type="Customer"                          id="CustomerResult">
        <result property="customerId"                   column="customer_id"/>
        <result property="customerCode"                 column="customer_code"/>
        <result property="customerName"                 column="customer_name"/>
    </resultMap>

    <!--    库存头单查询      -->
    <select id="headReceiptQuery" parameterType="headReceipt" resultMap="headReceiptResult">
        SELECT DISTINCT
        hr.systematic_receipt, hr.original_receipt, hr.receipt_category, hr.receipt_type, hr.receipt_status,
        hr.invoice_date, hr.warehousing_ids, hr.retrieval_ids, hr.user_ids, hr.supplier_ids, hr.customer_ids,
        hr.plan_receipt, hr.receipt_notes, hr.deposit, hr.total_amount, hr.capitalize_total_amount,
        hr.create_by, hr.create_time, hr.update_by, hr.update_time,
        (SELECT w1.warehouse_id FROM warehouse w1 WHERE w1.warehouse_id = hr.warehousing_ids) AS warehousing_id,
        (SELECT w1.warehouse_name FROM warehouse w1 WHERE w1.warehouse_id = hr.warehousing_ids) AS warehousing_name,
        (SELECT w2.warehouse_id FROM warehouse w2 WHERE w2.warehouse_id = hr.retrieval_ids) AS retrieval_id,
        (SELECT w2.warehouse_name FROM warehouse w2 WHERE w2.warehouse_id = hr.retrieval_ids) AS retrieval_name,
        su.user_id,
        su.user_name,
        (SELECT s.supplier_id FROM supplier s WHERE hr.supplier_ids = s.supplier_id) AS supplier_id,
        (SELECT s.supplier_name FROM supplier s WHERE hr.supplier_ids = s.supplier_id) AS supplier_name,
        (SELECT c.customer_id FROM customer c WHERE hr.customer_ids = c.customer_id) AS customer_id,
        (SELECT c.customer_name FROM customer c WHERE hr.customer_ids = c.customer_id) AS customer_name
        FROM (head_receipt hr, detail_receipt dr, product p)
        JOIN sys_user su ON hr.user_ids = su.user_id
        WHERE 1=1
        AND hr.systematic_receipt = dr.systematic_receipt
        AND dr.product_id = p.product_id
        <if test="systematicReceipt != null and systematicReceipt != ''">
            AND hr.systematic_receipt like concat('%', #{systematicReceipt}, '%')
        </if>
        <if test="originalReceipt != null and originalReceipt != ''">
            AND hr.original_receipt like concat('%', #{originalReceipt}, '%')
        </if>
        <if test="receiptType != null and receiptType != ''">
            AND hr.receipt_type = #{receiptType}
        </if>
        <if test="receiptStatus != null and receiptStatus != ''">
            AND hr.receipt_status = #{receiptStatus}
        </if>
        <if test="warehousingIds != null and warehousingIds != ''">
            AND hr.warehousing_ids = #{warehousingIds}
        </if>
        <if test="retrievalIds != null and retrievalIds != ''">
            AND hr.retrieval_ids = #{retrievalIds}
        </if>
        <if test="userIds != null and userIds != ''">
            AND hr.user_ids = #{userIds}
        </if>
        <if test="supplierIds != null and supplierIds != ''">
            AND hr.supplier_ids = #{supplierIds}
        </if>
        <if test="customerIds != null and customerIds != ''">
            AND hr.customer_ids = #{customerIds}
        </if>
        <if test="productCode != null and productCode != ''">
            AND p.product_code like concat('%', #{productCode}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND p.product_name like concat('%', #{productName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(hr.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(hr.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        order by create_time DESC
    </select>

    <!--    单据指定编号查询      -->
    <select id="selectHeadReceiptById" parameterType="String" resultMap="headReceiptResult">
        SELECT
        hr.systematic_receipt, hr.original_receipt, hr.receipt_category, hr.receipt_type, hr.receipt_status,
        hr.invoice_date, hr.warehousing_ids, hr.retrieval_ids, hr.user_ids, hr.supplier_ids, hr.customer_ids,
        hr.plan_receipt, hr.receipt_notes, hr.deposit, hr.total_amount, hr.capitalize_total_amount,
        hr.create_by, hr.create_time, hr.update_by, hr.update_time,
        dr.systematic_receipt, dr.product_id, dr.warehousing_id, dr.retrieval_id, dr.supplier_id, dr.customer_id,
        dr.current_inventory, dr.actual_inventory, dr.plan_quantity, dr.univalence, dr.discount, dr.money, dr.cost,
        dr.remarks,
        p.product_id, p.product_code, p.product_name, p.product_type, p.product_specifications, p.measure_unit,
        p.producer,
        w.warehouse_id, w.warehouse_name,
        su.user_id, su.user_name,
        s.supplier_id, s.supplier_name,
        c.customer_id, c.customer_name
        FROM (head_receipt hr, detail_receipt dr, product p)
        JOIN warehouse w ON w.warehouse_id = hr.warehousing_ids OR w.warehouse_id = hr.retrieval_ids
        JOIN supplier s ON s.supplier_id = hr.supplier_ids OR hr.supplier_ids IS NULL
        JOIN customer c ON c.customer_id = hr.customer_ids OR hr.customer_ids IS NULL
        JOIN sys_user su ON su.user_id = hr.user_ids
        WHERE dr.systematic_receipt = hr.systematic_receipt
        AND p.product_id = dr.product_id
        AND hr.systematic_receipt = #{systematicReceipt}
    </select>

    <!--    单据指定编号查询      -->
    <select id="selectHeadReceiptByCount" parameterType="String" resultMap="headReceiptResult">
        SELECT hr.systematic_receipt
        FROM head_receipt hr
        JOIN detail_receipt dr ON dr.systematic_receipt = hr.systematic_receipt
        WHERE hr.systematic_receipt = #{systematicReceipt}
    </select>

    <!--    单据头表新增      -->
    <insert id="addHeadReceipt" parameterType="headReceipt">
        insert into head_receipt(
        <if test="systematicReceipt != null and systematicReceipt != ''">systematic_receipt,</if>
        <if test="originalReceipt != null and originalReceipt != ''">original_receipt,</if>
        <if test="receiptCategory != null and receiptCategory != ''">receipt_category,</if>
        <if test="receiptType != null and receiptType != ''">receipt_type,</if>
        <if test="receiptStatus != null and receiptStatus != ''">receipt_status,</if>
        <if test="invoiceDate != null and invoiceDate != ''">invoice_date,</if>
        <if test="warehousingIds != null and warehousingIds != ''">warehousing_ids,</if>
        <if test="retrievalIds != null and retrievalIds != ''">retrieval_ids,</if>
        <if test="userIds != null and userIds != ''">user_ids,</if>
        <if test="supplierIds != null and supplierIds != ''">supplier_ids,</if>
        <if test="customerIds != null and customerIds != ''">customer_ids,</if>
        <if test="planReceipt != null and planReceipt != ''">plan_receipt,</if>
        <if test="receiptNotes != null and receiptNotes != ''">receipt_notes,</if>
        <if test="deposit != null and deposit != ''">deposit,</if>
        <if test="totalAmount != null and totalAmount != ''">total_amount,</if>
        <if test="capitalizeTotalAmount != null and capitalizeTotalAmount != ''">capitalize_total_amount,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="systematicReceipt != null and systematicReceipt != ''">#{systematicReceipt},</if>
        <if test="originalReceipt != null and originalReceipt != ''">#{originalReceipt},</if>
        <if test="receiptCategory != null and receiptCategory != ''">#{receiptCategory},</if>
        <if test="receiptType != null and receiptType != ''">#{receiptType},</if>
        <if test="receiptStatus != null and receiptStatus != ''">#{receiptStatus},</if>
        <if test="invoiceDate != null and invoiceDate != ''">#{invoiceDate},</if>
        <if test="warehousingIds != null and warehousingIds != ''">#{warehousingIds},</if>
        <if test="retrievalIds != null and retrievalIds != ''">#{retrievalIds},</if>
        <if test="userIds != null and userIds != ''">#{userIds},</if>
        <if test="supplierIds != null and supplierIds != ''">#{supplierIds},</if>
        <if test="customerIds != null and customerIds != ''">#{customerIds},</if>
        <if test="planReceipt != null and planReceipt != ''">#{planReceipt},</if>
        <if test="receiptNotes != null and receiptNotes != ''">#{receiptNotes},</if>
        <if test="deposit != null and deposit != ''">#{deposit},</if>
        <if test="totalAmount != null and totalAmount != ''">#{totalAmount},</if>
        <if test="capitalizeTotalAmount != null and capitalizeTotalAmount != ''">#{capitalizeTotalAmount},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <!--    单据头表修改      -->
    <update id="updateHeadReceipt" parameterType="headReceipt">
        update head_receipt
        <set>
            systematic_receipt = #{systematicReceipt},
            original_receipt = #{originalReceipt},
            receipt_category = #{receiptCategory},
            receipt_type = #{receiptType},
            receipt_status = #{receiptStatus},
            invoice_date = #{invoiceDate},
            warehousing_ids = #{warehousingIds},
            retrieval_ids = #{retrievalIds},
            user_ids = #{userIds},
            supplier_ids = #{supplierIds},
            customer_ids = #{customerIds},
            plan_receipt = #{planReceipt},
            receipt_notes = #{receiptNotes},
            deposit = #{deposit},
            total_amount = #{totalAmount},
            capitalize_total_amount = #{capitalizeTotalAmount},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where systematic_receipt = #{systematicReceipt}
    </update>

    <!--    单据头表删除      -->
    <delete id="delHeadReceipt" parameterType="java.util.List">
        delete from head_receipt where systematic_receipt in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.systematicReceipt}
        </foreach>
    </delete>

</mapper>